@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

.hero {
  height: 50rem;
  width: 100%;
  background: url('/assets/about1.png') center center no-repeat;
  background-size: contain;
}

.banner {
  @extend %flex-row;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include bg(b);
  height: 12rem;
  justify-content: center;
  padding: $space-m 0;
  @include for-size(s-only) {
    padding: $space-s 0;
  }
  @include for-size(l-up) {
    padding: $space-l 0;
  }
  img {
    height: 100%;
    @include for-size(s-only1) {
      width: 60%;
      height: auto;
    }
  }
}

.content {
  align-items: stretch;
}

.sidePhoto {
  @extend %flex-column;
  flex-grow: 4;
  flex-basis: $flex-basis;
  background: url('/assets/about2.png') bottom right no-repeat;
  background-size: auto 70%;

  @include for-size(m-only) {
    margin-right: $space-m;
    display: none;
  }
  @include for-size(l-up) {
    margin-right: $space-l;
  }
  @include for-size(s-only) {
    display: none;
  }
}

.sideText {
  @extend %flex-column;
  align-items: flex-start;
  flex-grow: 5;
  flex-basis: $flex-basis;
}

.span {
  margin: 2em 0;
  a {
    @include color(deep);
    &:hover,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
    }
  }
}
