@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

.hero {
  background-image: url('/assets/about_new.jpg');
  background-position: top center;
}

.banner {
  height: 15rem;
  @extend %flex-row;
  img {
    height: 80%;
    @include for-size(m-only) {
      height: 10rem;
      height: 50%;
    }
    @include for-size(s-only) {
      height: 10rem;
      height: 50%;
    }
  }
}

.content {
  align-items: stretch;
  padding-bottom: 0;
}

.sidePhoto {
  @extend %flex-column;
  flex-grow: 4;
  flex-basis: $flex-basis;
  &::after {
    content: '';
    top: -10rem;
    left: -10rem;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url('/assets/about2.png') bottom center no-repeat;
    background-size: contain;
    z-index: 1;

    @include for-size(l-up) {
      top: -15rem;
      left: -15rem;
    }
    @include for-size(xl-up) {
      top: -10rem;
      left: -10rem;
    }
  }

  @include for-size(m-only) {
    margin-right: $space-m;
    display: none;
  }
  @include for-size(l-up) {
    margin-right: $space-l;
  }
  @include for-size(s-only) {
    display: none;
  }
}

.sideText {
  @extend %flex-column;
  align-items: flex-start;
  flex-grow: 5;
  flex-basis: $flex-basis;
  @include for-ie11() {
    display: block;
  }
}

.span {
  margin: 2em 0;
  &,
  & > a,
  & > a > span {
    @include fluid-type($bp-s, $bp-xl, $mod_m * $base-font-min, $mod_d * $base-font-max);
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 600 !important;
    @include for-size(xl-up) {
      font-size: 24px;
    }
    line-height: 1.2em !important;
  }
}
