@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

.sectionGem {
  @include bg(gem);
  &::after {
    content: '';
    position: absolute;
    opacity: 0.8;
    width: 120vw;
    height: 120vw;
    left: -6vw;
    top: -30vw;
    z-index: 1;
    background: url('/assets/donate_circle.png') center center no-repeat;
    background-size: contain;
    @include for-size(s-only) {
      display: none;
    }
    @include for-size(m-only1) {
      display: none;
    }
    @include for-size(xl-up) {
      width: 110vw;
      height: 110vw;
      left: -2vw;
      top: -30vw;
      display: block;
    }
  }

  a {
    @include color(deep);
    &:hover,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
    }
  }
  a.button {
    @extend %flex-row;
    line-height: 1em;
    @include box-shadow(0, 0, 10px);
    @include bg(w);
    @include color(deep);
    margin: 0 0 $space-l 0;
    height: $min-target-size;
    padding: $space-s $space-l;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      background: lighten($gem-of-the-ocean, 15%);
    }
    &:focus {
      background: lighten($gem-of-the-ocean, 15%);
      border-color: $deep-sea;
    }
  }
}

.img {
  height: 40rem;
  width: 100%;
  background: url('/assets/donate1.png') center center no-repeat;
  background-size: contain;
}

.img1 {
  height: 30rem;
  width: 100%;
  background: url('/assets/donate2.jpg') bottom center no-repeat;
  background-size: cover;
  @include for-size(s-only) {
    height: 15rem;
  }
  @include for-size(m-only) {
    height: 20rem;
  }
}

.contentNarrow {
  z-index: 2;
  @extend %flex-column;
  max-width: 70vw;
  @include for-size(s-only) {
    max-width: 100%;
  }
  @include for-size(m-only1) {
    max-width: 80vw;
  }
  @include for-size(xl-up) {
    max-width: 60vw;
  }
}

.contribution {
  z-index: 2;
  @extend %flex-column;
}

.sectionListItem {
  @extend %flex-row;
  align-items: flex-start;
  padding: $space-xl 0 $space-l;
  @include for-size(s-only1) {
    flex-direction: column;
    padding: $space-m 0 $space-s;
  }
  border-bottom: 1px solid $black;
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  a {
    @include color(deep);
    &:hover,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
    }
  }
}
$flex-basis: 100px;

.sectionImage {
  @extend %flex-column;
  margin-bottom: $space-l;
  width: $bp-s;
  @include for-size(s-only1) {
    width: 100%;
    img {
      max-width: $bp-s;
      width: 70%;
      height: auto;
    }
  }
}

.sectionDescription {
  @extend %flex-column;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: $flex-basis;
  margin-left: $space-l;
  @include for-size(s-only1) {
    margin-left: 0;
  }
}
