@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

.alertContainer {
  @extend %flex-row;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  padding: $space-m;
}

.alertCloseButton {
  @extend %flex-column;
  height: 30px;
  width: 30px;
  justify-content: center;

  cursor: pointer;
  &:focus,
  &:hover {
    @include focus-indicator($deep-sea);
  }
}

p.alertText {
  font-size: $base-font-max;
}

.success {
  background-color: $sea-foam;
}

.error {
  background-color: $error;
  color: $black;
}
