@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

/* GENERIC */
/* basic normalization */
* {
  border: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

/* ========================================================================= */

/* GLOBAL */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  @include for-size(s-only) {
    overflow-x: auto;
  }
}

/* Accessibility Requirements */
p {
  padding-bottom: 2em; // WCAG 2.1 Success Criterion 1.4.12 Text Spacing AA: recommendation is min 2em
}

/* ................................. */

body {
  background: $white;
  min-width: $min-size;
}

/* ========================================================================= */

/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* classes t0, t1, t2, t3, s1, s2 and classes with t- prefix */
/* root font */
html {
  @include fluid-type($bp-s, $bp-xl, $base-font-min, $base-font-max);
  color: $charcoal;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* base font */
.t0,
p,
span,
a,
i,
strong,
em,
ul > li,
h4,
q {
  @include fluid-type($bp-s, $bp-xl, $base-font-min, $base-font-max);
}

/* largest font-size */
.t1,
h1,
h1 > * {
  @include fluid-type(
    $bp-s,
    $bp-xl,
    $mod_m * $mod_m * $mod_m * $base-font-min,
    $mod_d * $mod_d * $mod_d * $base-font-max
  );
  @include for-size(xl-up) {
    font-size: 60px;
  }
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  line-height: 1.2em !important;
  letter-spacing: 0.12em;
}

/* second largest font-size */
.t2,
h2,
h2 > * {
  @include fluid-type($bp-s, $bp-xl, $mod_m * $mod_m * $base-font-min, $mod_d * $mod_d * $base-font-max);
  font-family: 'Roboto', sans-serif !important;
  @include for-size(xl-up) {
    font-size: 48px;
  }
  text-transform: uppercase;
  line-height: 1.2em !important;
  letter-spacing: 0.12em;
}

/* third largest font-size */
.t3,
h3,
.t3 > *,
.t3 > strong,
.t3 > strong > i,
h3 > * {
  @include fluid-type($bp-s, $bp-xl, $mod_m * $base-font-min, $mod_d * $base-font-max);
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 600 !important;
  @include for-size(xl-up) {
    font-size: 24px;
  }
  line-height: 1.2em !important;
}

/* first font-size smaller that base font-size */
.s1,
.caption {
  @include fluid-type($bp-s, $bp-xl, $base-font-min / $mod_m * 1.2, $base-font-max / $mod_d * 1.2);
  font-family: 'Roboto Condensed', sans-serif !important;
  font-style: italic !important;
}

a {
  text-decoration: underline;
}

strong,
h4,
b,
strong > i,
strong > em,
q,
q > i {
  font-weight: 600;
}

em,
i {
  font-style: italic !important;
}

li {
  list-style-type: circle;
}

h3,
h4 {
  text-transform: capitalize;
}

// ============= Shared layout============

.container {
  @extend %flex-column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  @extend %flex-column;
  width: 100%;
  min-height: 100vh;
}

ul {
  padding-left: $space-default;
  li {
    padding-bottom: 0.5em;
  }
}

section,
.section {
  @extend %flex-column;
  @include bg();
  width: 100%;

  @include for-ie11() {
    height: 100%;
  }

  @include for-ie11() {
    & > p,
    & > .t3,
    & > h3,
    & > h1,
    & > h2,
    & > q {
      display: block;
      width: 100%;
    }
  }
}

.section-content {
  @extend %flex-row;
  max-width: $max-size;
  width: calc(100% - 2 * #{$space-m});
  padding: $space-m;
  @include for-size(m-only) {
    padding: $space-l;
  }
  @include for-size(l-up) {
    padding: $space-l;
  }
}

// Material-UI styles
.MuiFormControl-root.MuiTextField-root {
  margin-bottom: 30px;
}

.MuiButtonBase-root.MuiButton-root {
  background-color: $deep-sea;
  &:hover,
  &:active,
  &:focus {
    background-color: $gem-of-the-ocean;
  }

  &:active,
  &:focus {
    @include focus-indicator($charcoal);
  }
  span.MuiButton-label {
    padding: 10px 20px;
  }
}

.hero {
  height: 40rem;
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include for-size(m-only) {
    height: 20rem;
  }
  @include for-size(s-only) {
    height: 20rem;
  }
  @include for-size(xl-up) {
    height: 45rem;
  }
}

.banner {
  min-height: 10rem;
  max-width: $max-size;
  z-index: 3;
  @include bg(b);
  @extend %flex-column;
  padding: $space-s;
  @include for-size(m-only) {
    padding: $space-m;
  }
  @include for-size(l-up) {
    padding: $space-l;
  }
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
