@charset 'utf-8';

@import "./variables";
@import "./mixins";
@import "./classes";

.hamburger-menu {
  @include for-size(s-only) {
  }
  @include for-size(m-up) {
    display: none;
  }
}
.mobile-nav {
  position: absolute;
  background: black;
  border: solid 1px white;
}
