@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

.hamburger-menu {
  position: absolute;
  top: 0;
  button {
    color: white;
    background: none;
  }
  .mobile-site-title {
    font-weight: 600;
    color: white;
    margin-left: 39px;
    margin-top: 5px;
    display: block;
  }
  @media only screen and (min-width: 1023px) {
    display: none;
  }
}
.mobile-nav {
  position: absolute;
  top: 0;
  margin-left: -15px;
  background: $charcoal;
  padding: 6px 24px 14px;
  min-width: 320px;
  a {
    color: white;
    margin: 0 15px 0 30px;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: block;
    text-align: left;
    margin: 20px 0;
  }
  .active {
    color: $sea-foam;
    font-weight: normal;
    border-bottom: solid 2px $gem-of-the-ocean;
  }
}
.open-btn {
  padding-right: 8px;
  margin-top: 2px;
  position: absolute;
  top: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  left: -6px;
  border: solid 1px transparent;
  &:focus {
    border: solid 1px $gem-of-the-ocean;
    border-bottom: solid 2px $gem-of-the-ocean;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}
.hidden {
  display: none;
}
.close-btn {
  position: absolute;
  padding: 8px;
  left: 9px;
  top: 2px;
  border: solid 1px transparent;
  &:focus {
    border: solid 1px $gem-of-the-ocean;
    border-bottom: solid 2px $gem-of-the-ocean;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}
