@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1,
.h2,
.h3 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

.sectionDeep {
  z-index: 2;
  @include bg(deep);
  .impactSectionContent {
    @extend %flex-column;
    h2 {
      text-align: center;
    }
  }
  & > * {
    color: $white;
  }
  @include for-ie11() {
    h2 {
      display: block;
      width: 100%;
    }
  }
}

.sectionGem {
  @include bg(gem);

  &::after {
    content: '';
    position: absolute;
    width: 60rem;
    height: 60rem;
    left: -30rem;
    top: -30rem;
    opacity: 0.2;
    background: url('/assets/evolve_circle.png') left center no-repeat;
    background-size: contain;
    z-index: 1;
    @include for-size(s-only) {
      display: none;
    }
  }
}

.sectionVideo {
  padding: 0;
}

.video {
  padding: 0;
  @extend %flex-column;
  z-index: 2;
  max-width: 70vw;
  @include for-size(s-only) {
    max-width: 100%;
  }
  @include for-size(m-only1) {
    max-width: 100%;
  }
  @include for-size(xl-up) {
    max-width: 1000px;
  }

  .embedContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .embedContainer::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  .embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  background-image: url('/assets/evolve_1_copandmanhandsup.png');
  z-index: 0;
}

.banner {
  width: 100%;
  z-index: 2;
  img {
    align-self: flex-start;
    width: $min-size;
    @include for-size(l-up) {
      width: 2 * $min-size;
    }
    @include for-size(s-only) {
      width: 60%;
    }
    @include for-ie11() {
      min-height: 1px;
    }
  }

  .quote {
    align-self: flex-end;
    @extend %flex-column;
    margin-top: $space-l;
    align-items: flex-end;
    max-width: 2 * $min-size;
    & > * {
      color: $white;
      text-align: left;
    }
    @include for-size(s-only) {
      width: 60%;
    }
    @include for-size(s-only1) {
      margin-top: $space-m;
    }
    @include for-ie11() {
      width: 100%;
      q {
        display: block;
        width: 100%;
      }
    }
  }
}

.content {
  @extend %flex-column;
  @include for-ie11() {
    h2 {
      display: block;
      width: 100%;
    }
  }
}

.contentNarrow {
  z-index: 2;
  @extend %flex-column;
  max-width: 70vw;
  @include for-size(s-only) {
    max-width: 100%;
  }
  @include for-size(m-only1) {
    max-width: 80vw;
  }
  @include for-size(xl-up) {
    max-width: 1000px;
  }
  @include for-ie11() {
    width: 100%;
    h1,
    p {
      display: block;
      width: 100%;
    }
  }
}

.columns {
  @extend %flex-row;
  align-items: flex-start;
  @include for-size(s-only) {
    flex-direction: column;
  }
  @include for-size(m-only) {
    flex-direction: column;
  }
  @include for-ie11() {
    width: 100%;
  }
}

.narrowContent {
  max-width: $bp-l;
}

.column {
  @extend %flex-column;
  flex-grow: 1;
  flex-basis: $flex-basis;
  padding-right: $space-l;
  &:last-of-type() {
    padding-right: 0;
  }
  @include for-size(s-only1) {
    margin-bottom: $space-m;
    &:last-of-type() {
      margin-bottom: 0;
    }
  }
  @include for-ie11() {
    display: block;
    width: calc(100% / 3 - #{$space-l});
  }

  @include for-ie11-s-only() {
    display: block;
    width: 100%;
  }
  @include for-ie11-m-only() {
    display: block;
    width: 100%;
  }
}

.problemsColumn {
  .column {
    @include for-size(s-only) {
      flex-direction: row;
      align-items: flex-start;
      &::before {
        content: '○';
        margin-right: $space-xs;
      }
    }
    @include for-size(m-only) {
      flex-direction: row;
      align-items: flex-start;
      &::before {
        content: '○';
        margin-right: $space-xs;
      }
    }
  }
}

.content {
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 0;
  padding-right: 0;
  border-bottom: 1px solid $black;
  @include for-ie11() {
    height: 100%;
  }
}

.sidePhoto {
  @extend %flex-column;
  flex-grow: 2;
  flex-basis: $flex-basis;
  position: relative;
  &::after {
    content: '';
    top: -7rem;
    left: -20rem;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: url('/assets/evolve_2_persononchair.png') center center no-repeat;
    background-size: cover;
  }
  @include for-size(m-only) {
    margin-left: $space-m;
    display: none;
  }
  @include for-size(l-up) {
    margin-left: $space-l;
  }
  @include for-size(s-only) {
    display: none;
  }
}

.sideText {
  @extend %flex-column;
  flex-grow: 3;
  flex-basis: $flex-basis;
  align-items: flex-start;
  z-index: 2;

  @include bg(w);

  img {
    width: 100%;
    margin-bottom: $space-m;
    @include for-ie11() {
      min-height: 1px;
    }
  }

  .h3 {
    margin-top: $space-m;
  }

  @include for-ie11() {
    width: 100%;
    & > p {
      display: block;
      width: 100%;
    }
  }
}

.quoteSectionContent {
  @extend %flex-column;
  align-items: flex-end;
  width: calc(100% * 2 / 3);

  p {
    margin-top: $space-s;
  }
  @include for-size(s-only) {
    padding-left: $space-s;
  }

  @include for-ie11() {
    height: 100%;
    q {
      display: block;
      width: 100%;
    }
  }
}
