@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

.img {
  background-image: url('/assets/contact1.png');
}

.img1 {
  height: 30rem;
  width: 100%;
  background: url('/assets/donate2.jpg') bottom center no-repeat;
  background-size: cover;
  @include for-size(s-only) {
    height: 15rem;
  }
  @include for-size(m-only) {
    height: 20rem;
  }
}

.keepInTouch {
  color: $charcoal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sectionGem {
  background-color: $gem-of-the-ocean;
  @include box-shadow(0, 0, 10px);
}

.sectionWhite {
  background-color: $white;
}

.contentNarrow {
  z-index: 2;
  @extend %flex-column;
  max-width: 70vw;
  @include for-size(s-only) {
    max-width: 100%;
  }
  @include for-size(m-only1) {
    max-width: 80vw;
  }
  @include for-size(xl-up) {
    max-width: 60vw;
  }
  @include for-size(xl-up1) {
    max-width: 55vw;
  }
}

.sectionContribution {
  z-index: 2;
}
.contribution {
  z-index: 3;
  @extend %flex-column;
}

.sectionListItem {
  @extend %flex-row;
  align-items: flex-start;
  // padding: $space-xl 0 $space-l;
  // @include for-size(s-only1) {
  //   flex-direction: column;
  //   padding: $space-m 0 $space-s;
  // }
  border-bottom: 1px solid $black;
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  a {
    @include color(deep);
    &:hover,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
    }
  }
}
$flex-basis: 100px;

.sectionImage {
  @extend %flex-column;
  margin-bottom: $space-l;
  width: $bp-s;
  @include for-size(s-only1) {
    width: 100%;
    img {
      max-width: $bp-s;
      width: 70%;
      height: auto;
    }
  }
}

.sectionDescription {
  @extend %flex-column;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: $flex-basis;
  @include for-size(s-only1) {
    margin-left: 0;
  }
  p {
    font-size: 20px;
    font-weight: 600;
  }
}

.social-links {
  width: 100%;
  padding-top: 50px;
  @extend %flex-row;
  justify-content: space-between;
  @include for-size(s-only) {
    margin-top: $space-l;
  }
  @include for-size(m-only) {
    margin-top: $space-l;
  }

  @media screen and (max-width: 1400px) {
    span {
      display: none;
    }
  }
}

.newsletterParagraph {
  font-size: x-large;
  font-weight: 600;
}

.email {
  margin-bottom: 35px;
}

.formSection {
  color: $charcoal;
}

.form {
  width: 600px;
  @media screen and(max-width: 690px) {
    width: 100%;
  }
  p {
    padding: 0 !important;
  }
  margin-bottom: 50px;
}

.firstName,
.lastName {
  width: 260px;
  @media screen and (max-width: 690px) {
    width: 100%;
  }
}
.lastName {
  float: right;
}

.newsletterSection {
  color: $charcoal;
  display: block;
  padding-top: 65px;
  p {
    width: 620px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0;
    @media screen and (max-width: 690px) {
      width: 100%;
    }
  }
}

.keepInTouchImage {
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 450px;
    width: 650px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
