@charset 'utf-8';
@import './variables';
@import './mixins';

.link {
  color: $deep-sea;
  display: inline-block;
  &:active,
  &:focus {
    background: rgba(0, 64, 80, 0.2);
    @include focus-indicator;
  }
  &:hover {
    background: rgba(0, 64, 80, 0.2);
  }
}

.imgLink {
  color: $deep-sea;
  display: inline-block;
  &:active,
  &:focus {
    @include focus-indicator;
  }
  &.dark-background {
    &:active,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
      @include focus-indicator($sea-foam);
    }
  }
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.linkContainer {
  display: block;
}

.iconLink {
  display: inline-flex;
  max-height: 50px;
  svg {
    border-radius: 100%;
  }
}

.icon-background-deep-sea {
  svg {
    fill: $sea-foam;
  }

  &:hover {
    svg {
      fill: $gem-of-the-ocean;
      background: $sea-foam;
    }
  }
  &:active,
  &:focus {
    @include focus-indicator($sea-foam);
  }
}

.icon-background-gem-of-the-ocean {
  text-decoration-color: $deep-sea;
  svg {
    fill: $deep-sea;
  }

  &:hover {
    svg {
      fill: $charcoal;
      background: $sea-foam;
    }
  }
  &:active,
  &:focus {
    @include focus-indicator($sea-foam);
  }
}

.iconLinkText {
  padding: 10px 0 0 20px;
  color: $deep-sea;
  font-size: 20px;
  text-decoration-color: $deep-sea;
  font-weight: 600;
}
