@charset 'utf-8';
@import "./variables";
@import "./mixins";

.link {
  color: $deep-sea;
  display: inline-block;
  &:active,
  &:focus,
  &:hover {
    background: rgba(0, 64, 80, 0.2);
    @include focus-indicator;
  }
}

.imgLink {
  color: $deep-sea;
  display: inline-block;
  &:active,
  &:focus {
    @include focus-indicator;
  }
}

.linkContainer {
  display: block;
}
