@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

$flex-basis: 100px;

.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5em;
}

.sectionBlack {
  @include bg(b);
}

// Top Image
.img {
  background-image: url('/assets/monologues_1.png');
}

// Header and Paragraph
.sectionGem {
  @include bg(gem);
  .column {
    @extend %flex-row;
    justify-content: space-between;

    .contentNarrow {
      .t1 {
        margin-top: -10px;
        text-align: center;
        width: 900px;
      }
      height: 200px;
      z-index: 2;
      @extend %flex-column;
      max-width: 70vw;
      @include for-size(s-only) {
        max-width: 100%;
      }
      @include for-size(m-only1) {
        max-width: 100%;
      }
      @include for-size(xl-up) {
        max-width: 100%;
      }
      @include for-size(xl-up1) {
        max-width: 100%;
      }
    }
    .monologueHeader {
      color: $charcoal;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .headerText {
      text-align: center;
      @include for-size(s-only1) {
        width: 50vw;
      }
      @include for-size(m-only1) {
        max-width: 70vw;
      }
      @include for-size(xl-up) {
        max-width: 100%;
      }
    }

    // Hands up logo
    .handsUpLogo {
      height: 8rem;
      width: 100%;
      background: url('/assets/handsup_logo.png') center center no-repeat;
      background-size: contain;
    }

    // Copout logo
    .copoutLogo {
      height: 10rem;
      width: 100%;
      background: url('/assets/copout_logo.png') center center no-repeat;
      background-size: contain;
    }
  }
}

// Content Section
.content {
  align-items: stretch;
}

.topBorder {
  border-top: 2px solid $charcoal;
}

.sideHandsUpPhoto {
  @extend %flex-column;
  flex-grow: 4;
  flex-basis: $flex-basis;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: -$space-l;
    left: 0;
    bottom: -$space-l;
    z-index: 1;
    background: url('/assets/monologues_2.png') right center no-repeat;
    background-size: cover;
  }

  @include for-size(m-only) {
    margin-left: $space-m;
    display: none;
  }
  @include for-size(l-up) {
    margin-left: $space-l;
  }
  @include for-size(s-only) {
    display: none;
  }
}

.sideCopOutPhoto {
  @extend %flex-column;
  flex-grow: 5;
  flex-basis: $flex-basis;
  &::after {
    content: '';
    position: absolute;
    right: -$space-l;
    top: -$space-l;
    left: 0;
    bottom: -$space-l;
    z-index: 1;
    background: url('/assets/monologues_bottom.png') right center no-repeat;
    background-size: cover;
  }

  @include for-size(m-only) {
    margin-left: $space-m;
    display: none;
  }
  @include for-size(l-up) {
    margin-left: $space-l;
  }
  @include for-size(s-only) {
    display: none;
  }
}

.sideText {
  @extend %flex-column;
  align-items: flex-start;
  flex-grow: 4;
  flex-basis: $flex-basis;
  z-index: 2;
  a {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

// video container

.sectionVideo {
  @extend %flex-column;
  width: 100%;
  padding: 0 0 $space-l 0;
}

.video {
  padding: 0;
  @extend %flex-column;
  z-index: 2;
  max-width: 70vw;
  @include for-size(s-only) {
    max-width: 100%;
  }
  @include for-size(m-only1) {
    max-width: 100%;
  }
  @include for-size(xl-up) {
    max-width: 1000px;
  }

  .embedContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .embedContainer::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  .embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// links
.externalLink {
  font-weight: normal !important;
  background-image: url('/assets/external_link.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.externalLink:hover {
  font-weight: normal !important;
  background-image: url('/assets/external_link.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20px;
}
