@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

.h1 {
  margin-bottom: 0.5em;
}

.main {
  min-height: 0;
}

.sectionBlack {
  @include bg(b);
}

.hero {
  // background-image: url('/assets/about1.png');
}

.sectionError {
  &::before {
    content: '';
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-size: contain;
    left: -$space-m;
    bottom: 0;
    z-index: 1;
    @include for-size(s-only1) {
      display: none;
    }
  }
}

.sectionContent {
  padding: $space-xl 0;
  height: 30rem;
  @extend %flex-column;
  z-index: 2;
  @include for-size(s-only1) {
    height: auto;
  }

  a {
    color: $deep-sea;
    display: inline-block;
    &:active,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
      @include focus-indicator;
    }
    &:hover {
      background: rgba(0, 64, 80, 0.2);
    }
  }
  @include for-ie11() {
    p {
      width: 100%;
    }
  }
}

.sitemap {
  margin-top: 50px;
}
