@charset 'utf-8';

@import './variables';
@import './mixins';
@import './classes';

.h1 {
  margin: 0.5em 0;
}

.main {
  min-height: calc(100vh - 432px);
}

.sectionBlack {
  @include bg(b);
}

.sectionContent {
  padding: $space-xl $space-l 0;
  height: 30rem;
  @extend %flex-column;
  align-items: flex-start;
  z-index: 2;
  @include for-size(s-only1) {
    height: auto;
  }

  a {
    color: $deep-sea;
    display: inline-block;
    &:active,
    &:focus {
      background: rgba(0, 64, 80, 0.2);
      @include focus-indicator;
    }
    &:hover {
      background: rgba(0, 64, 80, 0.2);
    }
  }
  @include for-ie11() {
    p {
      width: 100%;
    }
  }
}

.sitemap {
  margin-top: 50px;
}
