@charset 'utf-8';
//Colors
$charcoal: #424143;
$sea-foam: #e3e5db;
$gem-of-the-ocean: #96b7b6;
$deep-sea: #004050;
$white: #fff;
$black: #000;

$color-transparent: transparent;

/* Media query break points based on design and content*/
/// @name major break points for design
/// @require px (or any absolute length unit) same as @alias base font variables,
/// because it is used @alias fluid-type()
$bp-s: 320px; // major break point for "small screen" design
$bp-m: 480px; // major break point for "small screen" design
$bp-l: 740px; // major break point for "large screen" design
$bp-xl: 1200px; // minor break point for "x-large screen" typography

$min-size: $bp-s;
$max-size: $bp-xl;

/* Typography */
/// @name base font variables
/// @require px (or any absolute length unit) same as
/// @alias major break points for design, because it is used
/// @alias fluid-type()
$base-font-min: 14px;
$base-font-max: 16px;

$mod_m: 1.15; // modular scale base for mobile screen
$mod_d: 1.5; // modular scale base for desktop

/* Spaces */
/// margins and paddings
$space-default: 1rem;
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

/* Accessibility Requirements */
$line-height: 1.5em; // WCAG 2.1 Success Criterion 1.4.12 Text Spacing AA: recommendation is min 1.5em
$letter-spacing: 0.1em; // WCAG 2.1 Success Criterion 1.4.12 Text Spacing AA: recommendation is min 0.12em
$min-target-size: 44px; // WCAG 2.1 Success Criterion 2.5.5 Target Size AAA: recommendation is min 44px
